AWS_ACCESS_KEY_ID={{ backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ backup_aws_region }}
MOSQUITTO_PASSWORD={{ backup_mosquitto_password }}
MOSQUITTO_USERNAME={{ backup_mosquitto_username }}
MOSQUITTO_HOST={{ backup_mosquitto_host }}
SERVICE_NAME={{ service_name }}
BACKUP_FROM={{ backup_from }}
BUCKET_NAME={{ backup_bucket_name }}