---
- name: Create user {{ service_user }}
  become: true
  ansible.builtin.user:
    name: "{{ service_user }}"
    create_home: false
    comment: "{{ service_user }} user with no shell access"
    shell: /bin/false
  register: user_result

- name: Create config directory {{ service_config_dir }}
  become: true
  ansible.builtin.file:
    path: "{{ service_config_dir }}"
    state: directory
    mode: "0755"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"

- name: Create data directory {{ service_data_dir }}
  become: true
  ansible.builtin.file:
    path: "{{ service_data_dir }}"
    state: directory
    mode: "0755"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"

- name: adding '{{ service_user }}' to group docker
  become: true
  user:
    name: "{{ item }}"
    groups: docker
    append: yes
  with_items:
    - root
    - noxious
    - "{{ service_user }}"
