---
- name: Create user {{ service_user }}
  become: true
  ansible.builtin.user:
    name: "{{ service_user }}"
    create_home: false
    comment: "{{ service_user }} user with no shell access"
    shell: /bin/false
  register: user_result

- name: Create config directory {{ service_config_dir }}
  become: true
  ansible.builtin.file:
    path: "{{ service_config_dir }}"
    state: directory
    mode: "0755"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"

- name: Create data directory {{ service_data_dir }}
  become: true
  ansible.builtin.file:
    path: "{{ service_data_dir }}"
    state: directory
    mode: "0755"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"

- name: Add users to docker group
  become: true
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: true
  with_items:
    - root
    - noxious
    - "{{ service_user }}"

- name: Create cert directory
  become: true
  ansible.builtin.file:
    path: "{{ cert_dir }}"
    state: directory
    mode: "0755"

- name: Copy TLS certificate
  become: true
  ansible.builtin.copy:
    src: /etc/ssl/certs/{{ service_domain }}.crt
    dest: "{{ cert_dir }}/{{ service_domain }}.crt"
    remote_src: true
    mode: "0644"
  notify: "Restart {{ service_name }}"

- name: Copy TLS private key
  become: true
  ansible.builtin.copy:
    src: /etc/ssl/private/{{ service_domain }}.pem
    dest: "{{ cert_dir }}/{{ service_domain }}.pem"
    remote_src: true
    mode: "0600"
  notify: "Restart {{ service_name }}"
