[Unit]
Description=Traefik reverse proxy
After=uptime-kuma.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=traefik:v3.6
ContainerName=traefik
PublishPort={{ service_port }}:443
Volume={{ traefik_config_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
Volume={{ traefik_config_dir }}/dynamic:/etc/traefik/dynamic:ro
Volume={{ cert_dir }}:/certs:ro
Network=uptime-kuma.network

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
